<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tw.edu.scu.avgexample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".framework.KWAvgApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LeaveGameActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".EndAndReplayActivity"
            android:exported="false" />
        <activity
            android:name=".BlackmanEndingActivity"
            android:exported="false" />
        <activity
            android:name=".NothingEndingActivity"
            android:exported="false" />
        <activity
            android:name=".GinEnding2Activity"
            android:exported="false" />
        <activity
            android:name=".GinEnding1Activity"
            android:exported="false" />
        <activity
            android:name=".ThiefEndingActivity"
            android:exported="false" />
        <activity
            android:name=".MyScene2Activity"
            android:exported="false" />
        <activity
            android:name=".MyScene1Activity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9964618295477835~2689386481" />

        <activity
            android:name=".MainMenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sample.SampleSplashActivity" />
        <activity android:name=".sample.SampleCopyrightActivity" />
        <activity android:name=".sample.SampleScene_1_Activity" />
        <activity android:name=".sample.SampleScene_2_Activity" />
        <activity android:name=".sample.SampleEndScene_1_Activity" />
        <activity android:name=".sample.SampleScene_3_Activity" />
        <activity android:name=".sample.SampleScene_4_Activity" />
        <activity android:name=".sample.SampleScene_5_Activity" />
        <activity android:name=".sample.SampleScene_6_Activity" />
        <activity android:name=".sample.SampleScene_7_Activity" />
        <activity android:name=".sample.SampleEndScene_2_Activity" />
        <activity android:name=".sample.SampleEndScene_3_Activity" />
        <activity android:name=".sample.SampleMenuSwitchSceneActivity" />
        <activity android:name=".sample.SampleMenuMainActivity" />
    </application>

</manifest>